.mqStaffSearch {
	.title {
		font-size: 30px;
		margin: 10px;
	}
	.search-text {
		margin: 10px;
	}
	.search-result {
		&-item {
			.staff-image {
				text-align: center;
				margin: 10px;
			}
			.item-text {
				text-align: center;
				font-weight: bold;
			}
			.staff-name { 
				@extend .item-text;
				font-size: 20px; 
			}
			.staff-role {
				@extend .item-text;
			}
			.staff-office {
				@extend .item-text;
			}
		}
	}
	.no-result {
		margin: 10px;
	}
}