<div class="mqStaffSearch">
	<div class="title">
		Staff Search
	</div>
	<div class="search-text">
		<input type="text" ng-model="searchText" placeholder="Search staff" class="form-control" />
	</div>
	<div class="search-result">
		<div ng-repeat="staff in filteredData = (data | filter:filterStaffByName(searchText) | filter:filterStaffByRole(searchText) | filter:filterStaffByOffice(searchText))"
			class="search-result-item col-lg-3 col-sm-4 col-xs-6">
			<div class="staff-image"><img ng-src="http://api.adorable.io/avatars/120/{{staff.name}}@adorable.png" /></div>
			<div class="staff-name">{{staff.name}}</div>
			<div class="staff-role">Role: {{staff.role}}</div>
			<div class="staff-office">Office: {{staff.office}}</div>
		</div>
	</div>
	<div class="no-result alert alert-warning" ng-show="filteredData.length === 0">
		No results found
	</div>
</div>